#header-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 13px;
}

#header-logo>img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
}