/* TODO: выровнять блоки со звездами.*/
.stars-range--content-wrapper{
	display: flex;
	justify-content: center;
	color: gray;
	font-size: 80%;
	margin: 5px 0;
	align-items: center;
}
.stars-range--text{
	display: flex;
	min-width: 30%;
}
.stars-range--stars-container{
	display: flex;
	margin: 0px 5px ;
}

.stars-range--text__before{
	justify-content: flex-end;
	text-align: end;
}

.stars-range--text__after{
	justify-content: flex-start;
	text-align: start;
}
