.elements-wrapper {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.elements-wrapper--scrollable {
    flex-wrap: nowrap;
}

.elements-wrapper>* {
    margin: 8px 5px;
    padding: 5px 20px;
    height: 20px;
    border-radius: 30px;
    background-color: #ecedf1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
}

.elements-wrapper>*:hover {
    background-color: #666;
}